<h1>Entities</h1>

<a href="/">Home</a>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
