<h1>Cyberpomp</h1>

<ul>
  <li><a href='/inbox'>Inbox</a></li>
  <li><a href='/feed'>Feed</a></li>
  <li><a href='/spacetime'>Spacetime</a></li>
  <li><a href='/entities'>Entities</a></li>
  <li><a href='/isbn'>ISBN</a></li>
  <li><a href='/http'>HTTP</a></li>
</ul>
